In [1]:
import pandas as pd
import numpy as np
import matplotlib as mlt
%matplotlib inline

In [2]:
data = pd.read_csv("train.csv")

#### data description
srch_id, Integer, The ID of the search

date_time, Date/time, Date and time of the search

site_id, Integer, ID of the Expedia point of sale (i.e. Expedia.com, Expedia.co.uk, Expedia.co.jp, ..)

visitor_location_country_id, Integer, The ID of the country the customer is located

visitor_hist_starrating, Float, The mean star rating of hotels the customer has previously purchased; null signifies there is no purchase history on the customer

visitor_hist_adr_usd, Float, The mean price per night (in US$) of the hotels the customer has previously purchased; null signifies there is no purchase history on the customer

prop_country_id, Integer, The ID of the country the hotel is located in

prop_id, integer, the ID of the hotel

prop_starrating, Integer, The star rating of the hotel, from 1 to 5, in increments of 1.  A 0 indicates the property has no stars, the star rating is not known or cannot be publicized.
 
prop_review_score, Float, The mean customer review score for the hotel on a scale out of 5, rounded to 0.5 increments. A 0 means there have been no reviews, null that the information is not available.

prop_brand_bool, Integer, +1 if the hotel is part of a major hotel chain; 0 if it is an independent hotel

prop_location_score1, Float, A (first) score outlining the desirability of a hotel’s location

prop_location_score2, Float, A (second) score outlining the desirability of the hotel’s location

prop_log_historical_price, Float, The logarithm of the mean price of the hotel over the last trading period. A 0 will occur if the hotel was not sold in that period.

position, Integer, Hotel position on Expedia's search results page. This is only provided for the training data, but not the test data.

price_usd, Float, Displayed price of the hotel for the given search.  Note that different countries have different conventions regarding displaying taxes and fees and the value may be per night or for the whole stay

promotion_flag, Integer, +1 if the hotel had a sale price promotion specifically displayed 

gross_booking_usd, Float, Total value of the transaction.  This can differ from the price_usd due to taxes, fees, conventions on multiple day bookings and purchase of a room type other than the one shown in the search

srch_destination_id, Integer, ID of the destination where the hotel search was performed

srch_length_of_stay, Integer, Number of nights stay that was searched 

srch_booking_window, Integer, Number of days in the future the hotel stay started from the search date

srch_adults_count, Integer, The number of adults specified in the hotel room 

srch_children_count, Integer, The number of (extra occupancy) children specified in the hotel room

srch_room_count, Integer, Number of hotel rooms specified in the search 

srch_saturday_night_bool, Boolean, +1 if the stay includes a Saturday night, starts from Thursday with a length of stay is less than or equal to 4 nights (i.e. weekend); otherwise 0

srch_query_affinity_score, Float, The log of the probability a hotel will be clicked on in Internet searches (hence the values are negative)  A null signifies there are no data (i.e. hotel did not register in any searches)

orig_destination_distance, Float, Physical distance between the hotel and the customer at the time of search. A null means the distance could not be calculated.

random_bool, Boolean, +1 when the displayed sort was random, 0 when the normal sort order was displayed

comp1_rate, Integer, +1 if Expedia has a lower price than competitor 1 for the hotel; 0 if the same; -1 if Expedia’s price is higher than competitor 1; null signifies there is no competitive data 

comp1_inv, Integer, +1 if competitor 1 does not have availability in the hotel; 0 if both Expedia and competitor 1 have availability; null signifies there is no competitive data

comp1_rate_percent_diff, Float, The absolute percentage difference (if one exists) between Expedia and competitor 1’s price (Expedia’s price the denominator); null signifies there is no competitive data 

(same, for competitor 2 through 8)
comp2_rate

comp2_inv

comp2_rate_percent_diff

comp3_rate

comp3_inv

comp3_rate_percent_diff

comp4_rate

comp4_inv

comp4_rate_percent_diff

comp5_rate

comp5_inv

comp5_rate_percent_diff

comp6_rate

comp6_inv

comp6_rate_percent_diff

comp7_rate

comp7_inv

comp7_rate_percent_diff

comp8_rate

comp8_inv

comp8_rate_percent_diff

In [3]:
data.head(10)

,srch_id,date_time,site_id,visitor_location_country_id,visitor_hist_starrating,visitor_hist_adr_usd,prop_country_id,prop_id,prop_starrating,prop_review_score,...,comp6_rate_percent_diff,comp7_rate,comp7_inv,comp7_rate_percent_diff,comp8_rate,comp8_inv,comp8_rate_percent_diff,click_bool,gross_bookings_usd,booking_bool
0,1,2013-04-04 08:32:15,12,187,NaN,NaN,219,893,3,3.5,...,NaN,NaN,NaN,NaN,0.0,0.0,NaN,0,NaN,0
1,1,2013-04-04 08:32:15,12,187,NaN,NaN,219,10404,4,4.0,...,NaN,NaN,NaN,NaN,0.0,0.0,NaN,0,NaN,0
2,1,2013-04-04 08:32:15,12,187,NaN,NaN,219,21315,3,4.5,...,NaN,NaN,NaN,NaN,0.0,0.0,NaN,0,NaN,0
3,1,2013-04-04 08:32:15,12,187,NaN,NaN,219,27348,2,4.0,...,NaN,NaN,NaN,NaN,-1.0,0.0,5.0,0,NaN,0
4,1,2013-04-04 08:32:15,12,187,NaN,NaN,219,29604,4,3.5,...,NaN,NaN,NaN,NaN,0.0,0.0,NaN,0,NaN,0
5,1,2013-04-04 08:32:15,12,187,NaN,NaN,219,30184,4,4.5,...,NaN,NaN,NaN,NaN,0.0,0.0,7.0,0,NaN,0
6,1,2013-04-04 08:32:15,12,187,NaN,NaN,219,44147,3,3.5,...,NaN,NaN,NaN,NaN,0.0,0.0,NaN,0,NaN,0
7,1,2013-04-04 08:32:15,12,187,NaN,NaN,219,50984,2,0.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,0,NaN,0
8,1,2013-04-04 08:32:15,12,187,NaN,NaN,219,53341,4,4.0,...,NaN,NaN,NaN,NaN,0.0,0.0,6.0,0,NaN,0
9,1,2013-04-04 08:32:15,12,187,NaN,NaN,219,56880,4,4.0,...,NaN,NaN,NaN,NaN,0.0,0.0,NaN,0,NaN,0

In [4]:
data.describe()

,srch_id,site_id,visitor_location_country_id,visitor_hist_starrating,visitor_hist_adr_usd,prop_country_id,prop_id,prop_starrating,prop_review_score,prop_brand_bool,...,comp6_rate_percent_diff,comp7_rate,comp7_inv,comp7_rate_percent_diff,comp8_rate,comp8_inv,comp8_rate_percent_diff,click_bool,gross_bookings_usd,booking_bool
count,9.917530e+06,9.917530e+06,9.917530e+06,505297.000000,507612.000000,9.917530e+06,9.917530e+06,9.917530e+06,9.902900e+06,9.917530e+06,...,1.933120e+05,631077.000000,713175.000000,277838.000000,3.819043e+06,3.960388e+06,1.225707e+06,9.917530e+06,276592.000000,9.917530e+06
mean,3.329138e+05,9.966175e+00,1.752954e+02,3.374634,176.588512,1.739055e+02,7.008015e+04,3.181534e+00,3.777702e+00,6.343042e-01,...,2.301390e+01,0.147061,0.082259,20.141888,-6.072490e-02,9.889435e-03,2.321000e+01,4.473614e-02,386.530099,2.788930e-02
std,1.922876e+05,7.657325e+00,6.590955e+01,0.692218,108.434842,6.834768e+01,4.061177e+04,1.050191e+00,1.050806e+00,4.816248e-01,...,2.560429e+03,0.578748,0.316165,136.217976,4.692456e-01,2.031648e-01,9.462088e+02,2.067240e-01,801.073164,1.646557e-01
min,1.000000e+00,1.000000e+00,1.000000e+00,1.000000,0.000000,1.000000e+00,1.000000e+00,0.000000e+00,0.000000e+00,0.000000e+00,...,2.000000e+00,-1.000000,-1.000000,2.000000,-1.000000e+00,-1.000000e+00,2.000000e+00,0.000000e+00,0.000000,0.000000e+00
25%,1.665160e+05,5.000000e+00,1.000000e+02,2.920000,110.330000,1.000000e+02,3.501000e+04,3.000000e+00,3.500000e+00,0.000000e+00,...,6.000000e+00,0.000000,0.000000,7.000000,0.000000e+00,0.000000e+00,7.000000e+00,0.000000e+00,124.240000,0.000000e+00
50%,3.328140e+05,5.000000e+00,2.190000e+02,3.440000,151.830000,2.190000e+02,6.961500e+04,3.000000e+00,4.000000e+00,1.000000e+00,...,1.100000e+01,0.000000,0.000000,12.000000,0.000000e+00,0.000000e+00,1.100000e+01,0.000000e+00,219.420000,0.000000e+00
75%,4.999000e+05,1.400000e+01,2.190000e+02,3.940000,214.350000,2.190000e+02,1.051770e+05,4.000000e+00,4.500000e+00,1.000000e+00,...,1.800000e+01,1.000000,0.000000,20.000000,0.000000e+00,0.000000e+00,1.700000e+01,0.000000e+00,431.760000,0.000000e+00
max,6.655740e+05,3.400000e+01,2.310000e+02,5.000000,2768.930000,2.300000e+02,1.408210e+05,5.000000e+00,5.000000e+00,1.000000e+00,...,1.125686e+06,1.000000,1.000000,30216.000000,1.000000e+00,1.000000e+00,1.494000e+05,1.000000e+00,167740.590000,1.000000e+00

In [5]:
data.isnull().sum()

srch_id                              0
date_time                            0
site_id                              0
visitor_location_country_id          0
visitor_hist_starrating        9412233
visitor_hist_adr_usd           9409918
prop_country_id                      0
prop_id                              0
prop_starrating                      0
prop_review_score                14630
prop_brand_bool                      0
prop_location_score1                 0
prop_location_score2           2178380
prop_log_historical_price            0
position                             0
price_usd                            0
promotion_flag                       0
srch_destination_id                  0
srch_length_of_stay                  0
srch_booking_window                  0
srch_adults_count                    0
srch_children_count                  0
srch_room_count                      0
srch_saturday_night_bool             0
srch_query_affinity_score      9281966
orig_destination_distance      3216461
random_bool                          0
comp1_rate                     9681724
comp1_inv                      9663097
comp1_rate_percent_diff        9732623
comp2_rate                     5876897
comp2_inv                      5665992
comp2_rate_percent_diff        8807683
comp3_rate                     6858257
comp3_inv                      6625309
comp3_rate_percent_diff        8973523
comp4_rate                     9297431
comp4_inv                      9225059
comp4_rate_percent_diff        9653317
comp5_rate                     5473236
comp5_inv                      5196697
comp5_rate_percent_diff        8236524
comp6_rate                     9435043
comp6_inv                      9393385
comp6_rate_percent_diff        9724218
comp7_rate                     9286453
comp7_inv                      9204355
comp7_rate_percent_diff        9639692
comp8_rate                     6098487
comp8_inv                      5957142
comp8_rate_percent_diff        8691823
click_bool                           0
gross_bookings_usd             9640938
booking_bool                         0
dtype: int64

In [5]:
data_new = data.drop(['comp1_rate', 'comp1_inv', 'comp1_rate_percent_diff',\
           'comp2_rate', 'comp2_inv', 'comp2_rate_percent_diff', \
           'comp3_rate', 'comp3_inv', 'comp3_rate_percent_diff',\
           'comp4_rate', 'comp4_inv', 'comp4_rate_percent_diff',\
           'comp5_rate', 'comp5_inv', 'comp5_rate_percent_diff',\
           'comp6_rate', 'comp6_inv', 'comp6_rate_percent_diff',\
           'comp7_rate', 'comp7_inv', 'comp7_rate_percent_diff',\
           'comp8_rate', 'comp8_inv', 'comp8_rate_percent_diff',\
           'srch_query_affinity_score', 'orig_destination_distance','visitor_hist_adr_usd',\
           'visitor_hist_starrating', 'gross_bookings_usd'], axis=1)
data_new.head()

,srch_id,date_time,site_id,visitor_location_country_id,prop_country_id,prop_id,prop_starrating,prop_review_score,prop_brand_bool,prop_location_score1,...,srch_destination_id,srch_length_of_stay,srch_booking_window,srch_adults_count,srch_children_count,srch_room_count,srch_saturday_night_bool,random_bool,click_bool,booking_bool
0,1,2013-04-04 08:32:15,12,187,219,893,3,3.5,1,2.83,...,23246,1,0,4,0,1,1,1,0,0
1,1,2013-04-04 08:32:15,12,187,219,10404,4,4.0,1,2.20,...,23246,1,0,4,0,1,1,1,0,0
2,1,2013-04-04 08:32:15,12,187,219,21315,3,4.5,1,2.20,...,23246,1,0,4,0,1,1,1,0,0
3,1,2013-04-04 08:32:15,12,187,219,27348,2,4.0,1,2.83,...,23246,1,0,4,0,1,1,1,0,0
4,1,2013-04-04 08:32:15,12,187,219,29604,4,3.5,1,2.64,...,23246,1,0,4,0,1,1,1,0,0

In [6]:
data_new.columns

Index(['srch_id', 'date_time', 'site_id', 'visitor_location_country_id',
       'prop_country_id', 'prop_id', 'prop_starrating', 'prop_review_score',
       'prop_brand_bool', 'prop_location_score1', 'prop_location_score2',
       'prop_log_historical_price', 'position', 'price_usd', 'promotion_flag',
       'srch_destination_id', 'srch_length_of_stay', 'srch_booking_window',
       'srch_adults_count', 'srch_children_count', 'srch_room_count',
       'srch_saturday_night_bool', 'random_bool', 'click_bool',
       'booking_bool'],
      dtype='object')

In [8]:
data_new.isnull().sum()

srch_id                              0
date_time                            0
site_id                              0
visitor_location_country_id          0
prop_country_id                      0
prop_id                              0
prop_starrating                      0
prop_review_score                14630
prop_brand_bool                      0
prop_location_score1                 0
prop_location_score2           2178380
prop_log_historical_price            0
position                             0
price_usd                            0
promotion_flag                       0
srch_destination_id                  0
srch_length_of_stay                  0
srch_booking_window                  0
srch_adults_count                    0
srch_children_count                  0
srch_room_count                      0
srch_saturday_night_bool             0
random_bool                          0
click_bool                           0
booking_bool                         0
dtype: int64

In [7]:
data_new = data_new.drop(['prop_location_score2'], axis = 1)

In [ ]:
data_new.to_csv('cleaned_1.csv')